LLM_PROVIDER="deepseek"


# DeepSeek 
DEEPSEEK_API_KEY="your_deepseek_api_key_here"
DEEPSEEK_BASE_URL="https://api.deepseek.com/v1"
DEEPSEEK_MODEL_NAME="deepseek-chat"

# GLM-4.7 
GLM47_API_KEY="your_glm47_api_key_here"
GLM47_BASE_URL="https://open.bigmodel.cn/api/paas/v4/"
GLM47_MODEL_NAME="glm-4.7"

# Qwen3 
QWEN3_API_KEY="your_qwen3_api_key_here"
QWEN3_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
QWEN3_MODEL_NAME="qwen-max"

# Qwen3-Coder 
QWEN3_CODER_480B_API_KEY="your_qwen3_coder_api_key_here"
QWEN3_CODER_480B_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
QWEN3_CODER_480B_MODEL_NAME="qwen3-coder-480b-a35b-instruct"
